<style>

body {
		
		padding: ;
}

img {

	width: 350px;
	
	height:425px;
}

h1 {
	font-size: 50px;
	color: #095C9C;

}

h2 {
	color: #095C9C;

	font-size: 35px;
}

h3 {
	color: #095C9C;

	font-size: 35px;
}

h4 {
	color: #095C9C;

	font-size: 35px;
}


h5 {
	color: #095C9C;

	font-size: 20px;
}
</style>