
body {
		margin:0 auto;
		
}

.clearfix {
	clear: both;
}

.header {
	background: #B3F9F8;
	border: 1px solid #CCC;
	top: 0;
	position: fixed;
	height: 150px;
	width: 100%;


}


.name {
	float: left;
	clear: both;
}


a {
	text-decoration: none;

}


li {
	list-style: none;
	float: left;
	margin-left: 40px;
	padding-top: 65px;
}


.nav{
	float: right;
}



img {

	width: 375px;
	height:425px;
}



p {
	font-family: helvetica;
	font-size: 16px;
}

h1 {
	font-size: 40px;
	color: #095C9C;
	font-family: georgia;
	margin: 1px;
	padding: 50px;

}


h2 {
	color: #095C9C;
	font-size: 35px;
	font-family: georgia;
	
}


h3 {
	color: #095C9C;
	font-size: 15px;
	font-family: georgia;
	clear: both;
}




.site-footer {
		background: #666666;
		position: fixed;
		left: 0px;
		bottom: 0px;
		height: 50px;
		width: 100%;
		text-align: center;
		font-weight: bold;
		padding-top: 15px;
		opacity: 0.6;

}


#name {
	color: #D691ED;
	font-size: 20px;
	padding: 20px;
	margin: 35px;
}

#email {
	color: #D691ED;
	font-size: 20px;
	padding: 20px;
	margin: 35px;
}

#message {
	color: #D691ED;
	font-size: 20px;
	margin: 35px;
}


.wrap {
	width:960px;
	margin: 95px;
	border:2px solid: #CCC;
	padding top: 25px;

}


.wrap1 {
	width: 600px;
	padding: 100px;
	border: 5px solid #CCC;
	padding-top: 30px;
	height: 800px;
	
}

#wrap2 {
	width: 600px;
	padding: 100px;
	border: 5px solid #CCC;
	padding-top: 30px;
	height: 650px;
	margin: 150px;
}

#wrap3 {
	width: 600px;
	padding: 100px;
	border: 5px solid #CCC;
	padding-top: 30px;
	height: 750px;
	margin:150px;
}

#wrap4 {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 185px;
	text-align: center;
	background-color: #D691ED;
	margin: 30px;

}

.textarea {
	
	height: 300px;
	width: 500px;

}

}

.clearfix {
	overflow: auto;
}

#linkedin {
	height:30px;
	width:30px;
	
}

#stackoverflow {
	height: 30px;
	width:30px;
}

#github {
	height: 30px;
	width: 30px;
}


#button {
	height: 50px;
	width: 75px;
	background: pink;
}

}
#button: hover {
	color: yellow;
}
